#logoletter{
    color: #FFAFAF;
    font-size:10px;
    font-family: poppins;
    font-weight: bold ;
}
#brand{
   color:white;
    font-family: poppins;
    font-weight: bold ;
    font-size: 20px;
}
.custom-navbar-brand {
    display: flex;
    align-items: center; /* Vertically align the content */
    padding: 0; /* Remove padding to align the image and text horizontally */
  }
  
  .custom-navbar-brand img {
    margin-right: 10px; /* Add spacing between the image and text */
  }
  
  
  
#custom-nav-link{
    background-color:#CF0A0A;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    margin: 0 96px; /* Adjust the second value to control horizontal spacing */
text-align: center;
}
#navbar {
    background-color: #CF0A0A;
}
#nav-link{
    background-color:#CF0A0A;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    margin: 0 6px; /* Adjust the second value to control horizontal spacing */
text-align: center;
}